/* worldbuilding test website
	author: hanna koh
	date: 7/13/2020 */
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Grenze Gotisch', cursive;
  font-weight: 200;
  font-size:20px;
  list-style:none;
  padding:0;
}

body, .horizontalNAV{
  width:100%;
  min-width:1250px;
  max-width:1571px;
}

body{
  background-color:rgb(255, 247, 230);
}

header{
  font-weight:800;
  font-size:4em;
  position:absolute;
  top:18%;
  left:32%;
  width:80%;
  height:auto;
  padding-right:30px;
  color:black;
}

.horizontalNAV{
  background-color:rgba(255, 255, 255, 0.5);
}
nav a {
  text-decoration: none;
}


nav.horizontalNAV {
  position:absolute;
  width: 100%;
  top:-3%;
  border-bottom:solid black 2px;
}
nav.horizontalNAV li {
  float: left;
  padding: 15px 0px;
  text-align: center;
  width: 11.11%;
}

nav.horizontalNAV li a{
  color: black;
  font-weight:400;
  font-size: 1.5em;
}

nav.horizontalNAV li:hover {
  background-color:black;
  background-color:rgba(105, 59, 0, 0.1);
}

h2{
  text-align:center;
  font-size:2em;
  font-weight:600;
}




